*{
padding:0;
margin:0;
box-sizing:border-box;
}

html{
font-size: 62.5%;
}

body{
    background-color: skyblue;
}

.header{
display: flex;
justify-content: space-around;
align-items: center;
min-width: 100vw;
min-height: 10vh;
color: aliceblue;
background-color: rgb(7, 7, 15);
border-bottom: 1rem solid white;
}

.header .logo{
width: 20%;
height: 9vh;
}

.header .logo{
align-content: center;
text-align: center;
}

.header .logo h1{
font-size: 20rem;
text-shadow: 1rem 1rem red;
}

.header .navicon{
display: flex;
justify-content: center;
align-items: center;
width: 60%;
height: 9vh;
}

.header .navicon ul{
display: flex;
justify-content: space-around;
align-items: center;
width: 100%;
padding: 1rem;
font-size: 5rem;
}

.navicon ul a{
color: aliceblue;
text-decoration: none;
list-style: none;
}

.navicon ul a:hover{
    color: red;
}